.column {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.body {
  background: darkgray;
}

/* 
h1 {
  font-size: 1rem;
  text-align: center;
} */

.pull-right {
  float: right;
}