.column {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.body {
  background: darkgray;
}


h1 {
  font-size: 4rem;
}

.pull-right {
  float: right;
}

.ui.secondary.pointing.menu a:first-child {
  margin-left: auto !important;
}

.ui.secondary.pointing.menu a:last-child {
  margin-right: auto !important;
}

.wrapped{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.margins{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.footer{
  text-align: center;
  background-color: grey;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  width:30%;
}