.column {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.body {
  background: darkgray;
}

/* 
h1 {
  font-size: 1rem;
  text-align: center;
} */

.pull-right {
  float: right;
}

.ui.secondary.pointing.menu a:first-child {
  margin-left: auto !important;
}

.ui.secondary.pointing.menu a:last-child {
  margin-right: auto !important;
}

.wrapped{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}